[Unit]
Description=Update unbound root hints file

[Service]
Type=oneshot
#ExecstartPre=cp -f /etc/unbound/root.hints /etc/unbound/root.hints.old
ExecStart=curl -o /etc/unbound/root.hints https://www.internic.net/domain/named.cache
Wants=network-online.target
After=network-online.target
